h1 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(252, 253, 253);
    min-width: 210px;
    max-width: 610px;
    margin: auto;
}

.container {
    max-width: 600px;
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
