body {
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#navigation {
    position: fixed;
    right: 0;
}

#logo img {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.nav table {
    border: none;
    padding: 5px;
}

td {
    padding: 10px;
}

.container {
    padding-top: 100px;
    min-width: 220px;
    max-width: 750px;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.content {
    padding: 10px;
}

.content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content input[type=text] {
    border-radius: 20px;
    width: 80%;
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.content input[type=submit] {
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #3c4043;
    margin-top: 10px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}

.content input[type=submit]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0.1);
    background-color: #f8f9fa;
    color: #202124;
    border: 1px solid #dadce0;    
}

.adv_container{
    padding-top: 50px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-left: 5px;
}

.adv_content {
    margin-left: 5px;
}

.adv_content form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.adv_content input[type=text] {
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #3c4043;
    margin-top: 10px;
    height: 36px;
    width: 100%;
    cursor: pointer;
}

.adv_content input[type=submit] {
    border-radius: 4px;
    margin-top: 10px;
    background-color: #0c0fd6;
    color: #fdfdfd;
    height: 36px;
    width: 100%;
    cursor: pointer;
}
.adv_content input[type=submit]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0.1);
    background-color: #0c0fd6;
    color: #fdfdfd;
    border: 1px solid #dadce0;    
}

.adv_container h3 {
    margin: 0 0 50px 15px;
    color: red;
    float: none;
}

.adv_labels {
    margin: 0;
}

.adv_labels table {
    border: none;
    padding: 1px;
}

.adv_labels td {
    padding: 5px 10px;
}